:root {
    --lightgray: #a3a3a3;
    --gray-less-opacity: #c1c1c169;
    --blue-white: #d9f8ff;
    --dark-blue: #3f6791;
    --border-color: #ced4da;
}

/* main content height */
#jazzy-sidebar + .content-wrapper {
    min-height: calc(100vh - 7rem) !important;
}

.sidebar {
    overflow-y: auto;
    margin-bottom: 25px;
}

/* user */
.user-panel {
    align-items: center;
}
.user-profile {
    margin-left: 0.4rem;
    font-size: 1.4rem;
}

.alert a {
    color: var(--blue-white) !important;
}

/* footer */
.main-footer {
    text-align: center;
}

/* changelist table */
#changelist-form td,
#changelist-form th {
    width: auto;
    max-width: 200px;
}

/* dark mode toggle */
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* inputs */
input[type=file],
input[type=password],
input[type=number] {
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
input[type=file] {
    padding: 5px;
}
input:not([type=submit]), textarea {
    background-color: transparent !important;
}
.dark-mode input,
.dark-mode textarea {
    color: white !important;
}

/* buttons */
.dark-mode .btn-outline-success {
    border-color: #00bc8c !important;
}
.dark-mode .btn-outline-success:hover {
    background-color: #00bc8c !important;
}
.dark-mode .btn-outline-info {
    border-color: #3498db !important;
}
.dark-mode .btn-outline-info:hover {
    background-color: #3498db !important;
}
.dark-mode .btn-outline-danger {
    border-color: #e74c3c !important;
}
.dark-mode .btn-outline-danger:hover {
    background-color: #e74c3c !important;
}

/* select */
.dark-mode select option {
    background-color: var(--gray-dark);
}

/* select2 */
.select2-selection.select2-selection--single {
    background-color: transparent !important;
    border: 1px solid var(--border-color) !important;
    padding: 7.5px 12px !important;
    min-height: 40px !important;
    display: flex !important;
    align-items: center !important;
}
.select2-selection__rendered {
    margin-top: 0px !important;
}
.select2-selection__arrow {
    height: 100% !important;
}
.select2-selection.select2-selection--multiple .select2-selection__rendered {
    border: 1px solid var(--border-color);
    border-radius: 4px;
}
.select2-container--admin-autocomplete .select2-results__option--highlighted {
    color: white !important;
}
.select2-container--admin-autocomplete .select2-selection--multiple {
    border: none !important;
}
textarea.select2-search__field {
    font-size: 10pt !important;
}
input.select2-search__field {
    border: 1px solid var(--lightgray) !important;
    border-radius: 4px;
}
.select2-selection--multiple input.select2-search__field {
    border: none !important;
}
.select2-results__option[aria-selected=true],
.dark-mode .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option--selected,
.dark-mode .select2-container--default .select2-results__option--selected {
    background-color: var(--dark-blue) !important;
    color: white !important;
}
.select2-results__option[aria-selected=true]:hover {
    filter: brightness(1.2);
}
.dark-mode .select2-selection__rendered {
    color: white !important;
}
.dark-mode .select2-results__option:not(.select2-results__option--selected) {
    color: var(--lightgray);
}

/* json editor */
.jsoneditor {
    border: 1px solid var(--gray-less-opacity) !important;
}
.jsoneditor-poweredBy {
    display: none !important;
}
.jsoneditor-menu>button.jsoneditor-sort {
    background-position: -97px -72px !important;
}
.jsoneditor-menu>button.jsoneditor-transform {
    background-position: -50px -72px !important;
}
.dark-mode .jsoneditor-menu {
    background-color: var(--gray-dark);
}
.dark-mode .jsoneditor-menu button:disabled {
    background-color: var(--lightgray);
}

/* related */
.dark-mode .related-widget-wrapper select {
    background-color: transparent;
}

/* messages */
.dark-mode .callout {
    color: white !important;
}

/* LOGIN PAGE */
.jazzmin-login-page .callout.callout-danger p {
    max-width: 200px;
}

/* LOADER */
.page-loader-wrapper {
    background: #00000036;
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    opacity: 1;
    transition: all 1s;
}
.page-loader-wrapper p {
    font-size: 13px;
    margin-top: 10px;
    font-weight: bold;
    color: #444;
}
.page-loader-wrapper .loader {
    position: relative;
    top: calc(50% - 30px);
}

/* scrollbar */
body::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(229 229 229);
}
body::-webkit-scrollbar-track {
    background: rgba(0,0,0,.1);
}
body::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: rgba(0,0,0,.5);
}