@import '../../assets/styles/variables';
@import '../../assets/styles/breakpoints';

.medicineCard {
    width: 280px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0;
    padding: 5px;
    text-decoration: none;
    transition: 0.1s;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;

    div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    span {
        color: $gray;
    }


    &:hover {
        filter: brightness(0.95);
    }

    p {
        width: 75%;
        text-align: left;
    }
}